.botaoNovo {
    border-radius: 20px;
    border-style: solid;
    background: #00A49D;
    color: white;
    font-variant: all-petite-caps;
}

.checkboxStyle{ 
    border-color: #8b8b8b !important;
    border-radius: 20px !important;
    background: #bbbbbb !important;
    color: #3f3f3f !important;
}

.checkboxStyle::before{
    background: #3f3f3f ;
    color: #bbbbbb ;
}

.checkboxStyle::after{
    background: #3f3f3f ;
    color: #bbbbbb ;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #dfdfdf !important;
    background-color: #3f3f3f !important;
    border-color: #6d6d6d !important;
}
